@model IEnumerable<AsyncInn.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="on-page">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="nav-s">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Room Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Update Amenities</a></li>
    </ul>

    <p class="pad-top-s">
        <a asp-action="Create" class="pad-top-s CRUD">Create A New Hotel</a>
    </p>
    <div>
        <table class="center">
            <thead>
                <tr>
                    <th class="table pad-top-s">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="pad-top-s">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
     </div>
</body>
</html>