@model IEnumerable<AsyncInn.Models.Hotel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="grey container-m">
    <form method="post" class="pad-top-xs">
        <label name="searchString" class="search">Search For A Hotel</label>
        <br />
        <input name="searchString" class="input" />
        <button type="submit" class="button">SEARCH</button>
        <p>Current Hotel Count: @Model.ToList().Count</p>
        <p><a href="~/Hotels">CLEAR SEARCH</a></p>
    </form>
</div>

<p class="pad-top-s">
    <a asp-action="Create" class="pad-top-s CRUD">Create A New Hotel</a>
</p>
<div class="center">
    <table class="center grey">
        <thead>
            <tr>
                <th class="pad-top-s emphasize-caps">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="emphasize-caps">
                    @Html.DisplayNameFor(model => model.FormattedAddress)
                </th>
                <th class="emphasize-caps">Room Count</th>
                <th></th>
                <th class="emphasize-caps">
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th class="emphasize-caps">Update</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="pad-top-s">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HotelRooms)
                    </td>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.ID">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
                <tr class="pad-top-s"></tr>
            }
        </tbody>
        <tr>
            <td class="pad-top-s"></td>
        </tr>
    </table>
</div>