@model IEnumerable<AsyncInn.Models.RoomAmenities>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="nav-s">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="nav-s">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Room Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Update Amenities</a></li>
    </ul>

    <p class="pad-top-s">
        <a asp-action="Create" class="CRUD">Add Amenities To A Room</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Amenities)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amenities.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
