@model IEnumerable<AsyncInn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <title>Async Inn Admin: </title>
    <link href="~/Reset.css" rel="stylesheet" />
    <link href="~/BaseStyles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="welcome">Welcome to the <span class="logo">ASYNC INN</span> Admin Page</h1>
    <ul class="navigation">
        <li><a href="~/" class="nav-s">Home</a></li>
        <li><a href="~/Hotels" class="nav-s">Hotels</a></li>
        <li><a href="~/Rooms" class="nav-s">Rooms</a></li>
        <li><a href="~/HotelRooms" class="on-page">Room Details</a></li>
        <li><a href="~/RoomAmenities" class="nav-s">Room Amenities</a></li>
        <li><a href="~/Amenities" class="nav-s">Update Amenities</a></li>
    </ul>

    <h2 class="pad-top-s CRUD"></h2>

    <p>
        <a asp-action="Create" class="pad-top-s CRUD">Edit Hotel Room Details</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoomNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PetFriendly)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hotel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PetFriendly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hotel.FormattedAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Room.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { item.HotelID, item.RoomID }) |
                        @Html.ActionLink("Details", "Details", new { item.HotelID, item.RoomID }) |
                        @Html.ActionLink("Delete", "Delete", new { item.HotelID, item.RoomID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>